.header-top{
  top: 0;
  position: sticky;
  z-index: 1000;
}
/* Hero Section */
.about-page{
    max-width: 2000px;
    position: relative;
    top: -100px;  
    overflow-x: hidden;
    height: fit-content;   
}

.hero {
    background-image: url('/bckgrnd.jpg');
    height: 100vh;
    max-height: 1000px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: multiply;
  }
  
  .hero-video{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow-y: auto;
  }
  .hero-overlay {
    width: 100% ;
    height: fit-content;
    padding: 20px;
    text-align: start;
    position: relative;
    z-index: 3;
  }
  
  .hero-overlay-text {
    color: white;
    font-size: 4.6em;
  font-weight: 600;
    max-width: 880px;
    margin-left: 30px;
    font-family: 'Montserrat',sans-serif;
  }
  
  .scroll-down {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    text-align: center;
   width: 100%;
    justify-content: space-between;
  }
   .scroll-down span{
     font-size: 0.9em;
     font-weight: 700;
     font-family: 'Montserrat',sans-serif;
  }
  .scroll-down span > img{
    margin-left: 15px;
    cursor: pointer;
 }
  .water-mark-logo{
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .scroll-down span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
  
  }
  
  .about-us-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #FFF6ED;
    padding: 290px 20px 290px 60px;
    border-radius: 10px;
    height: fit-content;
    max-height: 1000px;
  }
  
  .about-us-content {
    max-width: 50%;
  }
  
  .about-title {
    font-size: 2.8rem;
    color: #ff6600; /* Orange color for title */
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; 
  }
  
  .about-subtitle {
    font-size: 1.8rem;
    color: #ff6600; /* Orange color for subtitle */
    margin-bottom: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif; 
  }
  
  .about-description {
    font-size: 1.1remrem;
    line-height: 1.5;
    color: #213343;
    margin-bottom: 40px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif; 
  }
  
  .about-buttons {
    display: flex;
    gap: 20px;
  }
 

  .explore-products-button{
    background-color: #ff7500;
    border: 2px solid #ff7500;
    color: white;
    padding: 10px 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .contact-us-button {
    background-color: transparent;
    border: 2px solid #ff7500;
    color: #ff7500;
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .explore-products-button:hover,
  .contact-us-button:hover {
    background-color: #ff6600;
    color: #fff;
  }
  
  .about-us-image img {
    width: 100%;
  
  }
  
  
  /* Products Section */
  .products-section {
    padding: 50px 20px;
    background: linear-gradient(
      0.91deg,
      rgba(255, 117, 0, 0.04) 47.8%,
      rgba(255, 117, 0, 0.2) 78.17%,
      rgba(255, 117, 0, 0.2) 84.6%,
      rgba(255, 117, 0, 0.2) 91.36%
    );
    text-align: center;
    background-image: url("/src/assets/images/machine-turning-metal-bg.png");
    height: 100vh;
    max-height: 1000px;
  }
  
  .products-grid {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    margin-bottom: 60px;
    scroll-behavior: smooth;
    
    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .products-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    height: 455px;
    min-width: 380px;
    margin: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s, border-bottom 0.3s;
  }
  
  .product-card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden; /* To ensure the image stays within the container while zooming */
  }
  
  .product-image {
    max-width: 100%;
    transition: transform 0.3s; /* For zoom effect */
  }
  
  .product-card:hover {
    background-color: #FFF6ED; /* Change background color on hover */
    transform: translateY(-10px); /* Slight lift effect */
    border-bottom: 10px solid #FF7500; /* Add border-bottom on hover */
  }
  
  .product-card:hover .product-image {
    transform: scale(1.1); /* Zoom the product image on hover */
  }
  
  .product-section-title {
    font-size: 2.8rem;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  
  .product-name {
    font-size: 1.2rem;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .product-link {
    font-size: 1rem;
    color: #ff6600;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .product-link:hover {
    color: #ff4500;
  }
  
  .carousel-navigation {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-button {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .nav-button:hover{
    transform: translateY(-5px);
  }
  
  /* Objective and Mission Section */
  .objectives-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
   height: 100vh;
  }
  
  .objectives-section-wrapper{
    display: flex;
    flex-direction: row;
     justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 100%;
    max-width: 1400px;
  }
  .objective-content {
    max-width: 60%;
    margin-right: 20px;
  }
  
  .objective-title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #ff6600; /* Orange color for the title */
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .objective-description {
    font-size: 0.9rem;
    color: #444;
    line-height: 1.5;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    max-width: 545px;
    font-weight: 400;
  }
  
  .objective-image {
    width: 80%;
    border-radius: 10px;
    max-width: 550px;
  }
  
  .mission-vision-section {
    max-width: 575px;
    width: 575px;
    background-color: #fdf5e6;
    padding: 22px 30px 22px 22px;
    border-radius: 10px;
  }
  
  .mission-vision-card {
    text-align: center;
    justify-content: center;
    padding-top:48px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mission-card{
    margin-bottom: 30px;
  }

  .mission-vision-icon {
    margin-bottom: 20px;
  }
  
  .mission-vision-card-title {
    font-size: 2.8rem;
    font-weight: 600;
    color: #191425;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .mission-vision-card-description {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: justify;
    color:  #213343;
    max-width: 450px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
  }
  

/*Quality Section*/
.quality-section {
  position: relative;
  height: 100vh;
  /*background-image: url('/src/assets/images/quality-bg.png'); */

  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.quality-bg-img{
  width: 100%;
  max-width: 1400px;
  position: relative;
  z-index: -1;

}
.quality-content {
  position: absolute;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 1310px;
  z-index: 1;
}

.quality-title {
  font-size: 2.6rem;
  font-weight: 400;
  font-family: 'Montserrat',sans-serif;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 50px;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 650px;
}
.quality-text{
 
  max-width: 610px;
}
.quality-description {
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
 
  margin-bottom: 30px;
  line-height: 1.6;
  text-align: justify;

}

.contact-button {
  background-color: white;
  color:  #FF7500;
  
  padding: 12px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #e55a00;
  color: #ffff;
}


  /*Contact Us section*/
  /*
  .contact-section {

    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact-wrapper{
    max-width: 1440px;
  }
  .contact-title {
    color: #FF7500;
    font-family: 'Montserrat',sans-serif;
    font-size: 2.8em;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 80px;
    text-align: start;
    
  }
  
  .contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
  }
  
  .contact-form {
    background-color: white;
    padding: 40px 25px 40px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
    margin: 25px;
    width: 400px;
    text-align: center;
  }
  .name-fields{
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .contact-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 0.8em;
    font-family: 'Poppins',sans-serif;
  }
  .fn{
    margin-right: 4px;
  }
  .ln{
    margin-left: 4px;
  }
  .send-button {
    background-color:  #FF7500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
    width: 95%;
    text-align: center;
  }
  
  .send-button:hover {
    background-color: #FF8000;
  }
  
  .contact-info {
    text-align: left;
    margin: 20px;
    width: 35%;
    max-width: 390px;
    float: right;
    margin-left: 100px;
  }
  
  .contact-info h3 {
    color: #213343;
    font-size: 2.6em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin-bottom: 10px;
    text-align: justify;
  }

  .contact-info h5 {
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #213343;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
  }
  .contact-info span{
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 15px;
  }
  .icon{
    margin-right: 10px;
  }
    */
  @media (max-width: 1300px) {
    .quality-title{
      margin-top: 20px;
      margin-left: 25px;
    }
    .quality-content{
      display: flex;
      flex-direction: column;
    }

  }
@media (max-width: 992px) {
   .about-us-section{
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    padding: 130px 10px 70px 10px;
   }
   .about-us-content{
     max-width: 75%;
   }
   .about-description{
    text-align: justify;
  
   }
   .objective-title{
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 10px;
   }
   .objective-description{
    margin-left: 20px;
    margin-right: 10px;
   }
   .objectives-section{
    padding: 0px;
    max-width: 100%;
    
   }
   .objective-image{
    width: 100%;
    border-radius: 0px;
   }
   .objective-content{
    max-width: 100%;
    margin: 0px 0px 100px 0px;
   }
   .objectives-section-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
   
   }
   .mission-vision-section{
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
   }
   .mission-vision-section-wrapper{
    max-width: 575px;
   }
   .mission-vision-card{
    margin-top: 70px;
   }
   .quality-section{
    display: none;
   }
   /*
   .contact-section{
    padding-top: 50px;
  
   }
   .contact-title{
    text-align: center;
    margin-bottom: 40px;
   }
   .contact-container{
    gap: 60px;
   }
   .contact-info{
    margin-left: 10px;
    width: 100%;
   }
    */
}
@media (max-width: 768px) {
  .hero-overlay-text{
    font-size: 3.5em;
  }
  .water-mark-logo{
    height: 50%;
    width: 50%;
  }
  /*
  .contact-content > p{
    margin-bottom: 60px;
  }
    */
}
@media (max-width: 468px) {
  .hero-overlay-text{
    font-size: 2.8em;
    margin-left: 10px;
  }
  .water-mark-logo{
    height: 40%;
    width: 40%;
  }
  .objective-title{
    font-size: 2.5em;
  }
  .product-section-title{
    font-size: 2.5em;
  }
  .products-section{
     padding: 50px 0px 50px 0px;
  }
  .product-card{
    min-width: 340px;
  }
  .about-title{
    font-size: 30px;
  }
  .about-us-content{
    max-width: 100%;
  }
  .about-description{
    text-align: justify;
    font-size: 20px;
  }
  /*
  .contact-section{
    padding-top: 10px;
  }
  .contact-title{
    text-align: start;
    font-size: 2.5em;
  }
  .contact-form{
    margin: 0px;
    box-shadow: none;
    border: none;
    padding: 20px;
    width: 370px;
  }
  .contact-info{
    width: 90%;
    margin-left: 20px;
  }
  .contact-info > h3{
    font-size: 2.5em;
  }
  .contact-content > p{
   font-size: 1em;
  }
  .contact-content  h5{
    font-size: 1em;
   }
*/
}
  @media (max-width: 360px) {
    .about-page{
      top: -150px;
      margin-bottom: -150px;
    }
    .contact-info {
      margin-bottom: 0px ;
    }
    .hero-overlay-text{
      font-size: 2.8em;
    }
    .water-mark-logo{
      height: 40%;
      width: 40%;
    }
   .scroll-down >span {
      margin-left: 20px;
      margin-right: 10px;
    }
    .scroll-down >span > img{
      height: 70%;
      width: 70%;
    }
    .product-section-title{
      font-size: 2em;
    }
    .product-card{
      width: 310px;
    }
    .objective-title{
       font-size: 2em;
    }
    .mission-vision-card-title{
      font-size: 2.4em;
    }
    /*
    .contact-container{
      justify-content: start;
    }
    .contact-title{
      font-size: 2em;
    }
    .contact-form{
      margin: 5px;
      width: 100%;  
    }
    .content-
    .name-fields{
      flex-direction: column;
    }
    .fn{
        width: 100%;
      margin-right: 0%;
    }
    .ln{
      width: 100%;
      margin-left: 0%;
    }
    .contact-info{
      width: 270px;
      margin-left: 16px;
    }
    .contact-info h5{
     font-size: 0.9em;
    }
     */
  }

  @media (min-aspect-ratio: 16/9) {
    .hero-video{
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .hero-video{
      width: auto;
      height: 100%;
    }
  }

  .products-section {
    padding: 50px 20px;
    background: linear-gradient(
      0.91deg,
      rgba(255, 117, 0, 0.04) 47.8%,
      rgba(255, 117, 0, 0.2) 78.17%,
      rgba(255, 117, 0, 0.2) 84.6%,
      rgba(255, 117, 0, 0.2) 91.36%
    );
    text-align: center;
    background-image: url("/src/assets/images/machine-turning-metal-bg.png");
    height: 100vh;
    position: relative;
}

.products-grid {
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    margin-bottom: 60px;
    scroll-behavior: smooth;
    padding: 0 80px;

    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.products-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.product-card {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    height: 455px;
    min-width: 380px;
    margin: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s, border-bottom 0.3s;
}

.product-card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden; /* To ensure the image stays within the container while zooming */
}

.product-image {
    max-width: 100%;
    transition: transform 0.3s; /* For zoom effect */
}

.product-card:hover {
    background-color: #FFF6ED; /* Change background color on hover */
    transform: translateY(-10px); /* Slight lift effect */
    border-bottom: 10px solid #FF7500; /* Add border-bottom on hover */
}

.product-card:hover .product-image {
    transform: scale(1.1); /* Zoom the product image on hover */
}

.product-section-title {
    font-size: 2.8rem;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.product-name {
    font-size: 1.2rem;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.product-link {
    font-size: 1rem;
    color: #ff6600;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.product-link:hover {
    color: #ff4500;
}

.carousel-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    pointer-events: none; /* Allow clicks to pass through */
}

.nav-button {
    pointer-events: auto; /* Reactivate clicks */
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button img {
    width: 20px;
    height: 20px;
}

.nav-button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.nav-button.prev {
    position: absolute;
    left: 20px;
}

.nav-button.next {
    position: absolute;
    right: 20px;
}

.images-container {
  display: flex; /* Align items in a row */
  align-items: center; /* Align images vertically at the center */
 
  width: 100%;
}

.images-container img {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Ensure the image fills the container without stretching */
  cursor: pointer; /* Show pointer on hover */

}

.about-us-content::before {
  content: ''; /* Empty content for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  bottom: 0;
  background-image: url('../assets/images/logo-dark.svg');
  margin: 5;
  width: 100%;
  height: 100%;
  max-height: 500px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Adjust this value to control the opacity of the background */
  z-index: -1; /* Make sure the pseudo-element is behind the content */
}
