.footer-section {
  background-color:  #FFF6ED;
  color: #2c2c2c; /* Dark text */
  padding: 120px 0;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-logo-section {
  text-align: left;
}

.footer-logo {
  max-width: 120px;
  margin-bottom: 20px;
}
.footer-social-icons{
  margin-bottom: 50px;
}
.footer-social-icons a {
  margin-right: 15px;
  font-size: 24px;
  color: #2c2c2c;
  
}

.footer-social-icons a:hover {
  color: #f7941e; /* Orange color on hover */
}

.footer-links, .footer-news {
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.footer-links ul, .footer-news ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li, .footer-news ul li {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}
.info-icon{
  margin-right: 10px;
}
.footer-links ul li a, .footer-news ul li a {
  color: #2c2c2c;
  text-decoration: none;
}

.footer-links ul li a:hover, .footer-news ul li a:hover {
  text-decoration: underline;
}

/*
.footer-subscription-section {
  text-align: left;
}


h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.email-input .MuiOutlinedInput-root {
  border-radius: 0;
  border-bottom: 1px solid #2c2c2c;
  max-width: 300px;
}

.email-input .MuiInputLabel-root {
  color: #2c2c2c;
}

.email-input .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.email-input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.arrow-icon {
  color: #2c2c2c;
  font-size: 1.5rem;
  cursor: pointer;
}

.arrow-icon:hover {
  color: #f7941e; 
}
*/

.sect-title{
  font-size: 1.1em;
  margin-bottom: 25px;
  font-weight: 700;
}

.sign-up-title{
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 25px;
}

.policy-section{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.policy-section-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.divider{
  height: 0.9px;
  width: 100%;
  background-color:  #D9DBE9;
  margin-top: 50px;
  margin-bottom: 30px;
}
.copyrights-text, .privacy-terms-text{
  font-family: 'Monserrat',sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #6F6C90;
  
}
@media (max-width: 1200px) {
  .footer-section{
   padding-right: 150px;
   padding-left: 60px;
  }

}
@media (max-width: 992px) {
  .footer-section{
  padding: 90px 150px 90px 20px;
  }
  .policy-section-wrapper{
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 360px) {
  .footer-section{
  padding-left: 0px
  }
  .policy-section{
    padding-left: 10px;
  } 
}
.footer-links ul li a:hover, .footer-news ul li a:hover {
  color: #f7941e !important
}
