.custom-navbar {
  position: absolute;
  padding: 20px 20px;
  z-index: 100;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}


.eagle-logo {
  max-width: 300px;
  height: 80px;
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px; /* Space between navigation links */
}

.nav-item .nav-link {
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;

}



.nav-item .nav-link:hover {
  color: #f7941e;
  text-decoration: none;
}


.nav-item .active-nav-link {
  position: relative;
}

.nav-item .active-nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #FF7500;
  transition: width 0.3s ease;
}

.navbar-toggle {
  border: none;
  background-color: transparent;
  display: none;
}


/* Search form styling */
.search-form {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
}
.mobile-search-bar{
 margin-left: 300px;
 display: none;
}
.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 25px; /* Space for the search icon */
  font-size: 0.9rem;
  width: 100%;
}

.search-input::placeholder {
  color: #6c6c6c; /* Default placeholder color */
}

.search-icon {
  position: absolute;
  left: 5px;
  font-size: 1rem;
  padding-right: 5px;
}

.search-input-container:hover .search-icon {
  color: #2c2c2c; /* Darker color on hover */
}
.no-products-message {
  text-align: center;
  font-size: 1.5rem;
  color: #ff0000; /* Optional: Set a different color */
  margin-top: 100px;
  margin-bottom: 100px;
}
.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff6600;
}

.active-nav-link {
  font-weight: bold;
  border-bottom: 2px solid #ff6600;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu li {
  padding: 5px 15px;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  color: #ff6600;
}



@media (max-width: 991.5px) {
  .custom-navbar{
   transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }
 .footer-section {
   padding: 50px 0 20px 20px;
 }
 .mobile-search-bar{
   display: block;
 }
 .web-search-bar{
   display: none;
 }
 .nav-item{
   margin-left: 20px;
 }
 .navbar-nav{
   margin-top: 40px;
 }
 .nav-item .active-nav-link::after {
  display: none; 
 }

 .navbar-toggle {
   display: block;
 }  

}
@media (max-width: 768px) {
  .mobile-search-bar{
   margin-left: 0;
   }
 
}
@media (max-width: 480px) {
  .search-form{
    width: 100px;
   }
}
@media (max-width: 360px) {
  .navbar-toggle{
    margin: 20px 10px 0px 10px;
  }
  .search-form{
    margin-top: 20px;
  }
}
