/* Main container for the page */
.manufacturing-container {
  max-width: 2000px;
  margin: 0 auto;
  position: relative;
 top: -100px;
 overflow-x: hidden; 
}

.manufacturing-title-section {
  margin: 120px 30px 30px 35px;
}

/* Breadcrumb container */
.breadcrumb-container {
  margin-bottom: 40px;
}

/* Breadcrumb styling */
.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

.breadcrumb-item {
  margin-right: 10px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #FF7500;
}

.breadcrumb-item.active {
  color: #F7941E;
}

/* Manufacturing title */
.manufacturing-title {
  color: #F7941E;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: 'Montserrat',sans-serif;
}

/* Section container */
.section-container {
  display: flex;
  align-items: center;
  height: 571px;
  justify-content: space-between;
  overflow-y: hidden; 
}

.reverse {
  flex-direction: row-reverse;
}

.section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* Text container */
.text-container {
  width: 50%;
  height: 100%;
  background-color: #FFF6ED;
  padding: 80px 0px 0px 65px;
  text-align: justify;
  font-family: 'Poppins',sans-serif;
}

.reverse .text-container {
  background-color: white;
}

.section-heading {
  color: #FF7500;
  font-size: 1.8rem;
  margin-bottom: 5%;
  font-family: 'Montserrat',sans-serif;
}

.section-description {
  font-size: 1.2rem;
  max-width: 535px;
  margin-bottom: 15%;
  margin-right: 25px;
}

.continue-reading-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.3s ease-out;
}

.continue-reading {
  color: #F7941E;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;

}

.continue-reading-section:hover {
  transform: translateY(-5px);

}

/* Image container */
.image-container {
  width: 50%;
  text-align: center;
}

.section-image {
  width: 100%;
  max-height: 572px;
}

.arrow-right {
  height: 23px;
  margin-left: 20px;
  margin-top: 3px;
}
@media (max-width: 1440px) and (min-width: 993px) {
  .section-container {
    align-items: stretch; /* Ensures both text and image containers have equal height */
  }

  .text-container, .image-container {
    
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
  }

  .text-container {
    padding: 50px 20px;
  }

  .section-image {
    object-fit: cover; /* Ensures the image fills its container without distortion */
    height: 100%;
  }
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .text-container {
    padding: 50px 20px;
  }

  .section-heading {
    font-size: 1.6rem;
  }

  .section-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 992px) {
  .manufacturing-container {
    padding: 0 ;
  }

  .section-container {
    flex-direction: column;
    height: auto;
   
  }

  .text-container, .image-container {
    width: 100%;
  }

  .text-container {
    padding: 50px 20px;
    text-align: left;
  }

  .section-description {
    max-width: 100%;
  }
  .section-image{
    height: 100%;
    
  }
}

@media (max-width: 768px) {
  .manufacturing-title {
    font-size: 2rem;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .breadcrumb-container {
    margin-bottom: 20px;
  }

  .text-container {
    padding: 40px 15px;
  }

  .continue-reading {
    font-size: 1rem;
  }

  .arrow-right {
    height: 18px;
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  .manufacturing-title {
    font-size: 1.8rem;
  }

 
  .manufacturing-title-section{
   margin-left: 15px;
  }
  .section-heading {
    font-size: 1.3rem;
  }

  .text-container {
    padding: 30px 10px;
  }

  .continue-reading {
    font-size: 0.9rem;
  }

  .arrow-right {
    height: 16px;
  }
}
