.product-description-page {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 170px;
  }
  .product-description-wrapper{
    max-width: 1200px;
  }
  .description-breadcrumb-nav {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  
  .description-breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .description-breadcrumb-item a {
    text-decoration: none;
   
    margin-right: 5px;
  }
  
  .description-breadcrumb-item.active {
    color: #000;
  }
  
  .product-details-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
   
  }
  
  .product-desc-image-container {
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-desc-image-wrap{
    height: 440px;
    width: 600px;
    max-width: 740px;
    background-color:  #FEF4EA;
    border-radius: 10px;
    box-shadow: 3px 3px #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-desc-image {
    max-width: 400px;
    border-radius: 15px;
  }

  
  
  .product-title {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
   .product-info-container{
    width: 50%;
    max-width: 485px;
   }
  .product-description {
    font-size: 1.1rem;
    margin-bottom: 25px;
  }
  .product-properties {
    margin-top: 20px;
  }
  
  .properties-list {
    list-style-type: disc; /* Dotted style for the list */
    padding-left: 20px; /* Indent for the list */
    margin-bottom: 20px;  
}
.property-item {
    margin-bottom: 5px; 
}
  .product-sizes, .product-grades {
    margin-bottom: 15px;
  }
  .product-sizes h4{
   margin-bottom: 15px;
  }
  .size-box {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .sizes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product-grades h4 {
    margin-bottom: 15px;
  }
  
  .product-grades p {
    font-size: 1rem;
    font-weight: 400;
  }
  
  @media (max-width: 1200px) {
    .product-desc-image-wrap{
        width: 450px;
    }
  }
  @media (max-width: 992px) {
    .product-desc-image-wrap{
        width: 350px;
    }
  }
  @media (max-width: 768px) {
    .product-desc-image-wrap{
        width: 350px;
    }
    .product-details-container{
        flex-direction: column;
    }
    .product-desc-image-container{
        justify-content: start;
        margin-bottom: 20px;
    }
    .product-info-container{
        width: 100%;
    }
  }
  
  @media (max-width: 360px) {
    .product-desc-image-wrap{
        width: 290px;
    }
    .product-details-container{
        flex-direction: column;
    }
    .product-desc-image-container{
        justify-content: start;
        margin-bottom: 20px;
    }
    .product-info-container{
        width: 100%;
    }
  }